
:root {
    --main-color: #3e4a52;
    --secondary-color: #c5c290;
    --font-size-large: 24px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c2f5f2;
    margin: 30px;
}
.header {
    
    top: 0;
    left: 0;
    background-color: rgb(186, 243, 174);
    position: fixed;
    width: 100%;
    padding: 10px;

}

h1 {
    color: var(--main-color);
    font-size: var(--font-size-large);
    text-align: center;
}
/* Flexbox Example */
.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}

.flex-item {
    background-color: var(--secondary-color);
    padding: 10px;
    width: 100px;
    color: white;
    text-align: center;
        
}

/* Grid Layout Example */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    background-color: rgb(235, 168, 168);
    padding: 20px;
    text-align: center;
    color: white;
}

.relative-container {
    position: relative;
    background-color: rgb(228, 228, 133);
    padding: 30px;
    margin-top: 20px;
    text-align: right;
}

.absolute-box {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgb(153, 143, 143);
    color: white;
    padding: 10px;
}

.footer {
    position: bottom;
    bottom: 0;
    left: 0;
    z-index: 10;
}